fastapi
strawberry-graphql[fastapi]==0.291.3
sqlalchemy
asyncpg
psycopg[binary]
alembic
prometheus-client
prometheus-fastapi-instrumentator
uvicorn
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
email-validator
python-multipart
httpx
stripe
google-auth
twilio
openai
