fastapi
strawberry-graphql[fastapi]==0.291.3
sqlalchemy
asyncpg
alembic
python-dotenv
passlib[bcrypt]
bcrypt
python-jose[cryptography]
email-validator
python-multipart
httpx
stripe
google-auth
twilio
openai
